<div class="jumbotron">
    <h1>元智選課資訊系統</h1>
    <p class="lead">1052資料庫</p>
    <p><a href="/Forum" class="btn btn-primary btn-lg">繼續 &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>論壇畫面</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Forum")">進入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>登入系統</p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Member")">進入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Member</h2>
        <p>會員中心</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Member")">進入 &raquo;</a></p>
    </div>
</div>
